##set       age=26                         set##
##set       message="Hello World"          set##
package com.wanggt.freedom.codecreater.core;

/**
 * 这是一个测试模板
 * @author ${author}
 * @date 2017年6月23日下午4:23:41
 * @since ${version}
 */
public class CodeCreaterTemplate {
%{*(@java@${haha})
	public String sayHello(String name) {
		return ${message};
	}
}%}
##loop*(students)
	private String ?{name}?;
loop##
${age}
